<a href="https://colab.research.google.com/github/whkaikai/-python-/blob/main/2301551_64_Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

## Basic of Lists

A list is a collection of values of any types. 

`[23000, 45000, 36200]` is a list of income in the last 3 months.


A list may contain different types of values.

`[2301551, 'PROG PRIN']` is a list of course number and course name.

A list can also contain lists.

`[2301550, [2301551, 'PROG PRIN'], [2301552, 'PRIN DATA STR'] ]` is a list of courses in which some are only course numbers, and some are course number together with the name.

A list with zero element is an empty list, which is `[]`.

### Length of Lists

The length of a list is the number of elements in the list. The function `len` gives the length of a list.

Examples:

The length of `[]` is 0.

The length of `[1, 'A', 3.5]` is 3.

The length of `[1, ['A', 'C'], [], 'end']` is 4.

The length of `[[]]` is 1.

In [ ]:
print(len([]))
print(len([1, 'A', 3.5]))
print(len([1, ['A', 'C'], [], 'end']))
print(len([[]]))

0
3
4
1

### Elements in a list

Each element in a list can refered to using the index of the element.  

*   The index of the first element in a list is 0.
*   The index of the second element in a list is 1.
*   ...
*   The index of the last element in a list is n-1 where n is the number of elements in the list.

If `x` is a list, `x[i]` refers to the element with index `i` in the list `x`.

In [ ]:
lst = [1, ['A', 'C'], [], 'end']
print(lst)
print('First:\t', lst[0])
print('Second:\t', lst[1])
print('Third:\t', lst[-1])

[1, ['A', 'C'], [], 'end']
First:	 1
Second:	 ['A', 'C']
Third:	 end

### Copying Lists

When a variable, say `x`, stores a list, and that variable is assigned to another variable, say `y=x`, both `x` and `y` share the same memory space.  This is called *shallow copying*, and changing an element in `x` also makes `y` changed because they share the memory space.

In [ ]:
x=1
y=x
print(x,y)
x=0
print(x,y)

1 1
0 1

In [ ]:
lstA = [1, ['A', 'C'], [], 'end']
lstB = lstA                       # shallow copying
print('lstA:',lstA, id(lstA))
print('lstB:',lstB, id(lstB))
print('=========================')
lstA[0] = 'Made change in lstA'
print('lstA:',lstA)
print('lstB:',lstB)
print('=========================')
lstB[3] = 'Made change in lstB'
print('lstA:',lstA)
print('lstB:',lstB)

lstA: [1, ['A', 'C'], [], 'end'] 140145536953472
lstB: [1, ['A', 'C'], [], 'end'] 140145536953472
=========================
lstA: ['Made change in lstA', ['A', 'C'], [], 'end']
lstB: ['Made change in lstA', ['A', 'C'], [], 'end']
=========================
lstA: ['Made change in lstA', ['A', 'C'], [], 'Made change in lstB']
lstB: ['Made change in lstA', ['A', 'C'], [], 'Made change in lstB']

If we want to make another copy of a list `x`, which is called *deep copying*, we can use the function `list(x)` to create another copy and assign this new copy to another variable, e.g. `y = list(x)`.

In [ ]:
lstA = [1, ['A', 'C'], [], 'end']
lstB = list(lstA)                  # deep copying: lstB = lstA[0:len(lstA)]
print('lstA:',lstA, id(lstA))
print('lstB:',lstB, id(lstB))
print('=========================')
lstA[0] = 'Made change in lstA'
print('lstA:',lstA)
print('lstB:',lstB)
print('=========================')
lstB[3] = 'Made change in lstB'
print('lstA:',lstA)
print('lstB:',lstB)

lstA: [1, ['A', 'C'], [], 'end'] 140145536950512
lstB: [1, ['A', 'C'], [], 'end'] 140145484159408
=========================
lstA: ['Made change in lstA', ['A', 'C'], [], 'end']
lstB: [1, ['A', 'C'], [], 'end']
=========================
lstA: ['Made change in lstA', ['A', 'C'], [], 'end']
lstB: [1, ['A', 'C'], [], 'Made change in lstB']

## List Operations

### Adding Lists (+)

`+` is addition operator.

In [ ]:
s1 = [3,7,3,9]
s2 = [8,6,9,1]
allSection = s1+s2
print(s1, s2, allSection)

[3, 7, 3, 9] [8, 6, 9, 1] [3, 7, 3, 9, 8, 6, 9, 1]

### Append an Element

`append` is a function which adds another element at the end of a list.

`cList.append(ele)` adds `ele` at the end of the list `clist`.

In [ ]:
gradeList = ['A', 'B', 'C', 'D', 'F']
gradeList.append('S')
print(gradeList, ':', len(gradeList))
# Same as using + ; Note the difference in usage
# gradeList=gradeList+['S']
# print(gradeList, ':', len(gradeList))

['A', 'B', 'C', 'D', 'F', 'S'] : 6

When we append an element to a list, the length of the list is increased by one.

If a list is appended at the end of another list, only one element which is a list is added to the list and the length of the list is also increased by one.

In [ ]:
gradeList = ['A', 'B', 'C', 'D', 'F']
gradeList.append(['S', 'U'])
print(gradeList, ':', len(gradeList))

['A', 'B', 'C', 'D', 'F', ['S', 'U']] : 6

Be careful when using methods for list. Many methods change the values of the variable that stores the list, and returns `None`.

For example, in the example above, the method append changes the value in the variable gradeList from `['A', 'B', 'C', 'D', 'F']` to `['A', 'B', 'C', 'D', 'F', ['S', 'U']]`.  Thus, you should not write the program as shown below, which stores the value `None` that is returned from the method append in the variable `gradeList`.

In [ ]:
gradeList = ['A', 'B', 'C', 'D', 'F']
gradeList = gradeList.append(['S', 'U'])
print('Value in gradeList =',gradeList)

Value in gradeList = None

### Insert an Element

`insert` is a function that adds another element at the specified position.  

`cList.insert(index, ele)` adds `ele` as `cList[index]`, and shifts all elements at the position `index` and higher to the right.  It increases the length of the list by one.

In [ ]:
gradeList = ['A', 'B', 'C', 'D', 'S', 'U']
gradeList.insert(4, 'F')
print(gradeList, ':', len(gradeList))

['A', 'B', 'C', 'D', 'F', 'S', 'U'] : 7

In [ ]:
gradeList = ['A', 'B', 'C', 'D', 'S', 'U']
gradeList = gradeList.insert(4, 'F')  # Do not do this
print(gradeList, ':', len(gradeList)) # At this point, the value in gradeList is None.

If an element is insert at the position p>= length of the list, the element is appended at the end of the list.

In [ ]:
gradeList = ['A', 'B', 'C', 'D', 'F']
gradeList.insert(20,'S')
gradeList.insert(30,'U')
print(gradeList, ':', len(gradeList))

['A', 'B', 'C', 'D', 'F', 'S', 'U'] : 7

### Delete an Element

The function `del` can be used to delete any variables. For example,

In [ ]:
x = 0
name = 'Siri'
del(name)
print(x, name)  # Error here

NameError: ignored

Error occurs in the statement `print(x, name)` because there is no variable `name` after `del(name)`.

If we want to delete an element of a list, we can also use the function `del`, as shown below.

In [ ]:
gradeList = ['A', 'B', 'C', 'D', 'F']
del(gradeList[-2])
print(gradeList, ':', len(gradeList))

['A', 'B', 'C', 'F'] : 4

If you want to remove elements from a list, based on some condition, you CANNOT use the following for loop. In this loop, each element in the list is assigned to the loop variable `i`, and the loop variable is deleted, but not an element in the list.

In [ ]:
gradeList = ['A', '1', 'B', 'C', 'D', '3', 'F']
for i in gradeList:
    if '0'<=i<='9':
        del(i)
print(gradeList, ':', len(gradeList))

['A', '1', 'B', 'C', 'D', '3', 'F'] : 7

When you delete an element from a list,  next elements in the list are shifted by one position. So, you need to be careful when you use the list after deleting elements in a list.

The following program causes `IndexError: list index out of range`.

In [ ]:
gradeList = ['A', '1', 'B', 'C', 'D', '3', 'F']
for i in range(len(gradeList)): # it loops for i=0,1,...,6.  But when an element is deleted, the length is decreased.
    print('gradeList[',i,']=',gradeList[i])
    if '0'<=gradeList[i]<='9':
        del(gradeList[i])
print(gradeList, ':', len(gradeList))

gradeList[ 0 ]= A
gradeList[ 1 ]= 1
gradeList[ 2 ]= C
gradeList[ 3 ]= D
gradeList[ 4 ]= 3

IndexError: ignored

**** Come back to this part after you read for in list ***

If you really want to remove elements from a list, you can do it by going from the last element to the first, as shown below.

In [ ]:
gradeList = ['A', '1', 'B', 'C', 'D', '8', 'F']
for i in range(len(gradeList)-1, -1, -1): # range(-1, -len(gradeList), -1) also causes error
    print('gradeList[',i,']=',gradeList[i])
    if '0'<gradeList[i]<'9':
        del(gradeList[i])
print(gradeList, ':', len(gradeList))

gradeList[ 6 ]= F
gradeList[ 5 ]= 8
gradeList[ 4 ]= D
gradeList[ 3 ]= C
gradeList[ 2 ]= B
gradeList[ 1 ]= 1
gradeList[ 0 ]= A
['A', 'B', 'C', 'D', 'F'] : 5

Another way to avoid this problem is to create another list, as shown below.

In [ ]:
gradeList = ['A', '1', 'B', 'C', 'D', '8', 'F']
newGradeList = []
for i in range(len(gradeList)):
    if not('0'<gradeList[i]<'9'):
        newGradeList.append(gradeList[i])
print(newGradeList)

['A', 'B', 'C', 'D', 'F']

### Sort a List

The function `sort` is used to sort a list. The function `sort` changes the value in the variable to the sorted list and returns `None`.

In [ ]:
scoreList = [32.1, 45, 25, 42]
scoreList.sort() 
# If you write scoreList = scoreList.sort(), the value stored in scoreList is None.
print(scoreList)

[25, 32.1, 42, 45]

To sort in descending order, we must specify `reverse=True` as a parameter of the function `sort`.

In [ ]:
scoreList = [32.1, 45, 25, 42]
scoreList.sort(reverse=True)
print(scoreList)

[45, 42, 32.1, 25]

When we use the function `sort`, elements in the list are ordered by comparison with operators > or <.  Then, to use the function sort, we must be able to compare elements in a list with > or <. 

Then, we can sort a list of strings.

In [ ]:
classList = [ 'Warin', 'Sunee', 'Umpol','Antika', 'Buri', 'Danai']
classList.sort()
print(classList)

['Antika', 'Buri', 'Danai', 'Sunee', 'Umpol', 'Warin']

We can also compare two lists with > and <.

In [ ]:
print([1,'4','2']<[1,'3',7,'0'])
print([1,4,'2']>[1,4])

False
True

Therefore, we can use the function sort to sort list of lists.

In [ ]:
classList = [['Warin','Siri'],['Sunee','Mala'],['Umpol','Surin'],['Sunee','Antika'], ['Warin', 'Danai']]
classList.sort()
print(classList)

[['Sunee', 'Antika'], ['Sunee', 'Mala'], ['Umpol', 'Surin'], ['Warin', 'Danai'], ['Warin', 'Siri']]

The functions `append`, `insert`, and `sort` change the value of the list and returns `None`.  Thus, we must be careful not to use the return value of the functions.

In [ ]:
classList = [['Warin','Siri'],['Sunee','Mala'],['Umpol','Surin'],['Sunee','Antika'], ['Warin', 'Danai']]
print(classList.sort())   # get None here
# don't do this : classList = classList.sort()

None

Similar to lists, we can refer to each character in a string by its position.  

```
name = 'Siri Mali'
print(name[0], name[5])
```
The output from this program is: `S M`

However, strings are immutable objects.  We cannot change a character in a string.

```
name = 'Siri Mali'
name[0] = 'M'
```
gives an error.


We can also use

```
for i in range(len(name)):
    print(name[i])
```
to print each character in the string `name` because the loop does not change any character in the string.

Note that the following program does not cause any error.


```
name = 'Siri Mali'
print(name)
name = 'Mari Mali'
print(name)
```

In [ ]:
temp = [91.5, 87.2, 95.1, 91.9, 94.7]
ctemp = []
for f in temp:
    f = (f-32)*5/9
    ctemp.append(f)
    print(ctemp)
print('===============')
print(temp, ctemp)

[33.05555555555556]
[33.05555555555556, 30.666666666666668]
[33.05555555555556, 30.666666666666668, 35.05555555555556]
[33.05555555555556, 30.666666666666668, 35.05555555555556, 33.27777777777778]
[33.05555555555556, 30.666666666666668, 35.05555555555556, 33.27777777777778, 34.833333333333336]
===============
[91.5, 87.2, 95.1, 91.9, 94.7] [33.05555555555556, 30.666666666666668, 35.05555555555556, 33.27777777777778, 34.833333333333336]

Let `scList` be a list of student name together with the score. For example,
```
scList = [['Tam',34], ['Tim',45],['Tom', 41]]
```
The following program sorts this list by the score, from high to low. 

`key` is a parameter that specifies the key used for sorting. 

`lambda item: item[1]` is a definition of a function that takes a list `item` and return `item[1]`.

In [ ]:
scList = [['Tam',34], ['Tim',45],['Tom', 41]]
scList.sort(key=lambda item: item[1], reverse=True)
print(scList)

[['Tim', 45], ['Tom', 41], ['Tam', 34]]

### Split a String into a List of Strings

Another useful function is split, which is used to split a string into a list of strings.  It is often used when a string is read from a file or the input function.
The parameter of the function split is a string that is used as the separator.  If no sparator is specified, whitespace is used as the spearator.

In [ ]:
nameList = input('Enter names:').split() #####
print(nameList)
print('1,2,3'.split(','))

Enter names:jhjk lkjdf   lkjlfgk  5255
['jhjk', 'lkjdf', 'lkjlfgk', '5255']
['1', '2', '3']

## For-in-list

A list is an iterable object. This means we can use:


```
for var in a_list:
    ....
```
In this for loop, each element in `a_list` is assigned to the variable `var` in each iteration of the loop. 

(This is similar to the way we use for with strings.)

This is the same as accessing each element by index as shown below:


```
for i in range(len(a_list)):
    var = a_list[i]
    ...
```

The following example uses for-in-list to find the highest score from scores read from the user.

In [ ]:
scores = input('Enter scores:').split()  # scoreList is a list of strings
scoreList = []
for s in scores: 
    scoreList.append(float(s))
    
maxScore = scoreList[0]
for s in scoreList:
    if s>maxScore:
        maxScore = s
print('Highest score =',maxScore)

Enter scores:3 8 47 9 25 4 7 56 7 9 4
Highest score = 56.0

You can also use the function max as shown below.

In [ ]:
scores = input('Enter scores:').split()  # scoreList is a list of strings
scoreList = []
for s in scores: 
    scoreList.append(float(s))
print(scoreList,'\nHighest score =',max(scoreList))

Enter scores:3 8 47 9 25 4 7 56 7 9 4
[3.0, 8.0, 47.0, 9.0, 25.0, 4.0, 7.0, 56.0, 7.0, 9.0, 4.0]
Highest score = 56.0

However, for-in-list cannot be used if you want to change the element in the list.  The following example, which is a program that converts the temperatures in a list from fahrenheit to celcius, uses index of the list to change the value in the list.

In [ ]:
temp = [91.5, 87.2, 95.1, 91.9, 94.7]
for i in range(len(temp)):  # [0,1,2,3,4]
    temp[i] = (temp[i]-32)*5/9
    print(i, temp)
print('===============')
print('list temp =',temp)

0 [33.05555555555556, 87.2, 95.1, 91.9, 94.7]
1 [33.05555555555556, 30.666666666666668, 95.1, 91.9, 94.7]
2 [33.05555555555556, 30.666666666666668, 35.05555555555556, 91.9, 94.7]
3 [33.05555555555556, 30.666666666666668, 35.05555555555556, 33.27777777777778, 94.7]
4 [33.05555555555556, 30.666666666666668, 35.05555555555556, 33.27777777777778, 34.833333333333336]
===============
list temp = [33.05555555555556, 30.666666666666668, 35.05555555555556, 33.27777777777778, 34.833333333333336]

Try the code below to see what happened if you use for-in-list.

In [ ]:
temp = [91.5, 87.2, 95.1, 91.9, 94.7]
for t in temp:  
    t = (t-32)*5/9
    print(t)
print('===============')
print('list temp =',temp)

33.05555555555556
30.666666666666668
35.05555555555556
33.27777777777778
34.833333333333336
===============
list temp = [91.5, 87.2, 95.1, 91.9, 94.7]

If we use for-in-list, as shown below, the change is made on the loop variable `c`, but not in the list `temp`.

In [ ]:
temp = [91.5, 87.2, 95.1, 91.9, 94.7]
for c in temp:  
    c = (c-32)*5/9 
    print(c)
print('===============')
print('list temp =',temp)

33.05555555555556
30.666666666666668
35.05555555555556
33.27777777777778
34.833333333333336
===============
list temp = [91.5, 87.2, 95.1, 91.9, 94.7]

The following program takes 2 lists as vectors, and finds the sum of 2 vectors.

In [ ]:
x = [2,6,7,1,0,9]
y = [7,2,0,5,2,1] # x+y=[9, 8,7,6,2,10]
vsum = []
for i in range(len(x)): # 0,1,2,3,4,5
    vsum.append(x[i]+y[i])
print('sum =', vsum)

sum = [9, 8, 7, 6, 2, 10]

### Exercises


Write a program that creates a list of prime numbers from 2 to 10,000.

**Hint:** Grow the list of prime numbers from the first prime, which is 2.  Before adding the next integer, check if that integer is a prime by dividing that number by all preceeding primes.

In [6]:
b = []
for x in range(2,10000):
    if all(x% y !=0 for y in range(2,x)):
        b.append(x)
print(b)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, 1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097, 1103, 1109, 1117, 1123, 1129, 1151, 1153, 1163, 1171, 1181, 1187, 1193, 1201, 1213, 1217, 1223, 1229, 1231, 1237, 1249, 1259, 1277, 1279, 1283, 1289, 1291, 1297, 1301, 1303, 1307, 1319, 1321, 1327, 1361, 1367, 1373, 1381, 1399, 1409, 1423, 1427, 1429, 1433, 1439, 1447, 1451, 1453, 1459, 1471, 1481, 1483, 1487, 1489, 1493, 1499, 1511, 1523, 1531, 1543, 1549, 1553, 1559, 1567, 1571, 1579, 1583, 1597, 1601, 1607, 1609, 1613, 1619, 1621, 1627, 1637, 1657, 1663, 1667, 1669, 1693, 1697, 1699, 1709, 1721, 1723, 1733, 1741, 1747, 1753, 1759, 1777, 1783, 1787, 1789, 1801, 1811, 1823, 1831, 1847, 1861, 1867, 1871, 1873, 1877, 1879, 1889, 1901, 1907, 1913, 1931, 1933, 1949, 1951, 1973, 1979, 1987, 1993, 1997, 1999, 2003, 2011, 2017, 2027, 2029, 2039, 2053, 2063, 2069, 2081, 2083, 2087, 2089, 2099, 2111, 2113, 2129, 2131, 2137, 2141, 2143, 2153, 2161, 2179, 2203, 2207, 2213, 2221, 2237, 2239, 2243, 2251, 2267, 2269, 2273, 2281, 2287, 2293, 2297, 2309, 2311, 2333, 2339, 2341, 2347, 2351, 2357, 2371, 2377, 2381, 2383, 2389, 2393, 2399, 2411, 2417, 2423, 2437, 2441, 2447, 2459, 2467, 2473, 2477, 2503, 2521, 2531, 2539, 2543, 2549, 2551, 2557, 2579, 2591, 2593, 2609, 2617, 2621, 2633, 2647, 2657, 2659, 2663, 2671, 2677, 2683, 2687, 2689, 2693, 2699, 2707, 2711, 2713, 2719, 2729, 2731, 2741, 2749, 2753, 2767, 2777, 2789, 2791, 2797, 2801, 2803, 2819, 2833, 2837, 2843, 2851, 2857, 2861, 2879, 2887, 2897, 2903, 2909, 2917, 2927, 2939, 2953, 2957, 2963, 2969, 2971, 2999, 3001, 3011, 3019, 3023, 3037, 3041, 3049, 3061, 3067, 3079, 3083, 3089, 3109, 3119, 3121, 3137, 3163, 3167, 3169, 3181, 3187, 3191, 3203, 3209, 3217, 3221, 3229, 3251, 3253, 3257, 3259, 3271, 3299, 3301, 3307, 3313, 3319, 3323, 3329, 3331, 3343, 3347, 3359, 3361, 3371, 3373, 3389, 3391, 3407, 3413, 3433, 3449, 3457, 3461, 3463, 3467, 3469, 3491, 3499, 3511, 3517, 3527, 3529, 3533, 3539, 3541, 3547, 3557, 3559, 3571, 3581, 3583, 3593, 3607, 3613, 3617, 3623, 3631, 3637, 3643, 3659, 3671, 3673, 3677, 3691, 3697, 3701, 3709, 3719, 3727, 3733, 3739, 3761, 3767, 3769, 3779, 3793, 3797, 3803, 3821, 3823, 3833, 3847, 3851, 3853, 3863, 3877, 3881, 3889, 3907, 3911, 3917, 3919, 3923, 3929, 3931, 3943, 3947, 3967, 3989, 4001, 4003, 4007, 4013, 4019, 4021, 4027, 4049, 4051, 4057, 4073, 4079, 4091, 4093, 4099, 4111, 4127, 4129, 4133, 4139, 4153, 4157, 4159, 4177, 4201, 4211, 4217, 4219, 4229, 4231, 4241, 4243, 4253, 4259, 4261, 4271, 4273, 4283, 4289, 4297, 4327, 4337, 4339, 4349, 4357, 4363, 4373, 4391, 4397, 4409, 4421, 4423, 4441, 4447, 4451, 4457, 4463, 4481, 4483, 4493, 4507, 4513, 4517, 4519, 4523, 4547, 4549, 4561, 4567, 4583, 4591, 4597, 4603, 4621, 4637, 4639, 4643, 4649, 4651, 4657, 4663, 4673, 4679, 4691, 4703, 4721, 4723, 4729, 4733, 4751, 4759, 4783, 4787, 4789, 4793, 4799, 4801, 4813, 4817, 4831, 4861, 4871, 4877, 4889, 4903, 4909, 4919, 4931, 4933, 4937, 4943, 4951, 4957, 4967, 4969, 4973, 4987, 4993, 4999, 5003, 5009, 5011, 5021, 5023, 5039, 5051, 5059, 5077, 5081, 5087, 5099, 5101, 5107, 5113, 5119, 5147, 5153, 5167, 5171, 5179, 5189, 5197, 5209, 5227, 5231, 5233, 5237, 5261, 5273, 5279, 5281, 5297, 5303, 5309, 5323, 5333, 5347, 5351, 5381, 5387, 5393, 5399, 5407, 5413, 5417, 5419, 5431, 5437, 5441, 5443, 5449, 5471, 5477, 5479, 5483, 5501, 5503, 5507, 5519, 5521, 5527, 5531, 5557, 5563, 5569, 5573, 5581, 5591, 5623, 5639, 5641, 5647, 5651, 5653, 5657, 5659, 5669, 5683, 5689, 5693, 5701, 5711, 5717, 5737, 5741, 5743, 5749, 5779, 5783, 5791, 5801, 5807, 5813, 5821, 5827, 5839, 5843, 5849, 5851, 5857, 5861, 5867, 5869, 5879, 5881, 5897, 5903, 5923, 5927, 5939, 5953, 5981, 5987, 6007, 6011, 6029, 6037, 6043, 6047, 6053, 6067, 6073, 6079, 6089, 6091, 6101, 6113, 6121, 6131, 6133, 6143, 6151, 6163, 6173, 6197, 6199, 6203, 6211, 6217, 6221, 6229, 6247, 6257, 6263, 6269, 6271, 6277, 6287, 6299, 6301, 6311, 6317, 6323, 6329, 6337, 6343, 6353, 6359, 6361, 6367, 6373, 6379, 6389, 6397, 6421, 6427, 6449, 6451, 6469, 6473, 6481, 6491, 6521, 6529, 6547, 6551, 6553, 6563, 6569, 6571, 6577, 6581, 6599, 6607, 6619, 6637, 6653, 6659, 6661, 6673, 6679, 6689, 6691, 6701, 6703, 6709, 6719, 6733, 6737, 6761, 6763, 6779, 6781, 6791, 6793, 6803, 6823, 6827, 6829, 6833, 6841, 6857, 6863, 6869, 6871, 6883, 6899, 6907, 6911, 6917, 6947, 6949, 6959, 6961, 6967, 6971, 6977, 6983, 6991, 6997, 7001, 7013, 7019, 7027, 7039, 7043, 7057, 7069, 7079, 7103, 7109, 7121, 7127, 7129, 7151, 7159, 7177, 7187, 7193, 7207, 7211, 7213, 7219, 7229, 7237, 7243, 7247, 7253, 7283, 7297, 7307, 7309, 7321, 7331, 7333, 7349, 7351, 7369, 7393, 7411, 7417, 7433, 7451, 7457, 7459, 7477, 7481, 7487, 7489, 7499, 7507, 7517, 7523, 7529, 7537, 7541, 7547, 7549, 7559, 7561, 7573, 7577, 7583, 7589, 7591, 7603, 7607, 7621, 7639, 7643, 7649, 7669, 7673, 7681, 7687, 7691, 7699, 7703, 7717, 7723, 7727, 7741, 7753, 7757, 7759, 7789, 7793, 7817, 7823, 7829, 7841, 7853, 7867, 7873, 7877, 7879, 7883, 7901, 7907, 7919, 7927, 7933, 7937, 7949, 7951, 7963, 7993, 8009, 8011, 8017, 8039, 8053, 8059, 8069, 8081, 8087, 8089, 8093, 8101, 8111, 8117, 8123, 8147, 8161, 8167, 8171, 8179, 8191, 8209, 8219, 8221, 8231, 8233, 8237, 8243, 8263, 8269, 8273, 8287, 8291, 8293, 8297, 8311, 8317, 8329, 8353, 8363, 8369, 8377, 8387, 8389, 8419, 8423, 8429, 8431, 8443, 8447, 8461, 8467, 8501, 8513, 8521, 8527, 8537, 8539, 8543, 8563, 8573, 8581, 8597, 8599, 8609, 8623, 8627, 8629, 8641, 8647, 8663, 8669, 8677, 8681, 8689, 8693, 8699, 8707, 8713, 8719, 8731, 8737, 8741, 8747, 8753, 8761, 8779, 8783, 8803, 8807, 8819, 8821, 8831, 8837, 8839, 8849, 8861, 8863, 8867, 8887, 8893, 8923, 8929, 8933, 8941, 8951, 8963, 8969, 8971, 8999, 9001, 9007, 9011, 9013, 9029, 9041, 9043, 9049, 9059, 9067, 9091, 9103, 9109, 9127, 9133, 9137, 9151, 9157, 9161, 9173, 9181, 9187, 9199, 9203, 9209, 9221, 9227, 9239, 9241, 9257, 9277, 9281, 9283, 9293, 9311, 9319, 9323, 9337, 9341, 9343, 9349, 9371, 9377, 9391, 9397, 9403, 9413, 9419, 9421, 9431, 9433, 9437, 9439, 9461, 9463, 9467, 9473, 9479, 9491, 9497, 9511, 9521, 9533, 9539, 9547, 9551, 9587, 9601, 9613, 9619, 9623, 9629, 9631, 9643, 9649, 9661, 9677, 9679, 9689, 9697, 9719, 9721, 9733, 9739, 9743, 9749, 9767, 9769, 9781, 9787, 9791, 9803, 9811, 9817, 9829, 9833, 9839, 9851, 9857, 9859, 9871, 9883, 9887, 9901, 9907, 9923, 9929, 9931, 9941, 9949, 9967, 9973]

Write a program that finds the dot product of vectors `x` and `y`, which are stored as lists.

Note: How to calculater the dot product : http://hyperphysics.phy-astr.gsu.edu/hbase/vsca.html

In [70]:
x = input().split(" ")
x = [int(x[i]) for i in range (len(x))]
y = input().split(" ")
y = [int(y[i]) for i in range (len(y))]
re = 0
for i in x:
  for j in y:
    re += int(i) * int(j)
print("The dot product of x.y =", re)

3 5
2 8
The dot product of x.y = 80

Write a program that reads course ID, course name and the number of credit from the user until the user types 'x'.  Create a list that contains lists of course ID, course name and the number of credit. e.g. `[ [2301551, 'PROG PRIN', 1], [2301552, 'DATA STR', 1], ... ]`. 

From this list, find:
* all 4-credit courses,
* the average number of credits of courses in this list, and
* all courses with lower than average credits.

Then, remove all 0-credit courses, and print out this updated list.

In [ ]:
s = 0
data = input().split(" ")
data = [data[i] for i in range (len(data))]
# data = [ [2301551, 'PROG PRIN', 1], [2301552, 'DATA STR', 5]]
lower_average = []
number = 0
while True:
    data = input()
    if data == 'x':
        break
    else:
        number += 1
        course_ID, course_name, credit = data.split()
        credit = int(credit)
        # for i in data:
        s += credit
        if credit == "4":
            print(data)
        average = s / number
        # for j in data:
        #   if j[2] < average:
        if credit < average:
            lower_average.append(j)
        
        if credit  == 0:
        # for i in data:
        #   if i[2] == 0:
            data.remove(i)
        break

print(lower_average)  
print(data)

In [73]:
s = 0
data = [ [2301551, 'PROG PRIN', 1], [2301552, 'DATA STR', 5], [2301553, 'DATA STR', 4], [2301553, 'DATA STR', 0]]
lower_average = []
number = 0

while True:
    # data = input()
    if data == 'x':
        break
    else:
        
        for i in data:
          s += int(i[2])
          if i[2] == 4:
            print(f"4 credits courses: {i}")

        average = s / len(data)
        print(f"average: {average}")

        for j in data:
          if j[2] < average:
            lower_average.append(j)
        for i in data:
          if i[2] == 0:
            data.remove(i)
        break

print(f"all courses with lower than average credits: {lower_average}")  
print(data)

4 credits courses: [2301553, 'DATA STR', 4]
average: 2.5
all courses with lower than average credits: [[2301551, 'PROG PRIN', 1], [2301553, 'DATA STR', 0]]
[[2301551, 'PROG PRIN', 1], [2301552, 'DATA STR', 5], [2301553, 'DATA STR', 4]]

Let `testSC` be a list that contains lists of 4 test scores, e.g. `[ [6,5,7,3], [8,9,10,0], [3,7,5,9], [7,5,9,2], ... ]`.


Write a program that finds:

*   highest score for each test, and
*   highest total score

In [28]:
testSC, highest_score, highest_total_score = [[6,5,7,3], [8,9,10,0], [3,7,5,9], [7,5,9,2]], 0, 0
for i in testSC:
  print(max(i))
  
  highest_total_score = sum(i) if sum(i) > highest_total_score else highest_total_score
print(highest_total_score)

7
10
9
9
27

## List comprehension

Another way to create a list, called *list comprehension*, describes a list as follows:
```
[ <exp> for <var> in <iterable object> if <cond> ]
```
This creates a list in which each element is created by `<exp>` that uses `<var>` which is an element in `<iterable object>` that makes `<cond>` true.

```
x = []
for <var> in <iterable object>:
    if <cond>:
        x.append(<exp>)
```

The following program creates a list of i**2 for i=1,2,...,10.

In [ ]:
sq = [ i**2 for i in range(1,11) ]
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
sq = []
for i in range(1,11):
    sq.append(i**2)
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

The following example crates a list of positive numbers from the list `num`.

In [ ]:
num = [3, -5, 0, 4, 7, -4, 9]
pos = [i for i in num if i>0]
print(pos)

[3, 4, 7, 9]

In [ ]:
num = [3, -5, 0, 4, 7, -4, 9]
pos = []
for i in num: 
    if i>0: pos.append(i)
print(pos)

[3, 4, 7, 9]

The following example creates a list of the first element and a list of the second element of the list that are in `xyList`.

In [ ]:
xyList = [[1,'A'],[3,'B'], [4,'E']]
xList = [item[0] for item in xyList]
yList = [item[1] for item in xyList]
print(xList)
print(yList)

[1, 3, 4]
['A', 'B', 'E']

The following example chooses student numbers of those who registered for 2301551 from `regList`.

In [ ]:
regList = [['2301551','6274541223'],['2301170','6132456723']]
s551 = [rec[1] for rec in regList if rec[0]=='2301551']
print(s551)

['6274541223']

You can use one-line code to read input from keyboard and save it as a list of integers.

In [ ]:
intList = [int(x) for x in input('Enter numbers:').split()]
print(intList)

Enter numbers:65 44  21  87  -7 24
[65, 44, 21, 87, -7, 24]

### Exercises

Let `crsData` be a list that contains lists of course ID, course name and the number of credit, e.g. `[[2301551, 'PROG PRIN', 1], [2301552, 'DATA STR', 1], ...]`

Write a list comprehension that creates a list of 3-credit courses.

In [17]:
#With a list comprehension
crsData = [[2301551, 'PROG PRIN', 1], [2301552, 'DATA STR', 1], [2301553, 'DATA22 STR', 3], [2301554, 'D2ATA STR', 3]]
l = [i[2] == 3 for i in crsData if True ]
print(crsData[l.index(True)])

[2301553, 'DATA22 STR', 3]

In [3]:
#Without a list comprehension
crsData = [[2301551, 'PROG PRIN', 1], [2301552, 'DATA STR', 1], [2301553, 'DATA22 STR', 3], [2301554, 'D2ATA STR', 3]]
l = [i[2] == 3 for i in crsData]
[l for j in l if j != False]
print(crsData[l.index(True)])

[2301553, 'DATA22 STR', 3]

Write a list comprehension that creates a list of prime numbers from 2 to 10,000.

In [5]:
a = [x for x in range(2, 10000) if all(x % y != 0 for y in range(2, x))]
print(a)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, 1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097, 1103, 1109, 1117, 1123, 1129, 1151, 1153, 1163, 1171, 1181, 1187, 1193, 1201, 1213, 1217, 1223, 1229, 1231, 1237, 1249, 1259, 1277, 1279, 1283, 1289, 1291, 1297, 1301, 1303, 1307, 1319, 1321, 1327, 1361, 1367, 1373, 1381, 1399, 1409, 1423, 1427, 1429, 1433, 1439, 1447, 1451, 1453, 1459, 1471, 1481, 1483, 1487, 1489, 1493, 1499, 1511, 1523, 1531, 1543, 1549, 1553, 1559, 1567, 1571, 1579, 1583, 1597, 1601, 1607, 1609, 1613, 1619, 1621, 1627, 1637, 1657, 1663, 1667, 1669, 1693, 1697, 1699, 1709, 1721, 1723, 1733, 1741, 1747, 1753, 1759, 1777, 1783, 1787, 1789, 1801, 1811, 1823, 1831, 1847, 1861, 1867, 1871, 1873, 1877, 1879, 1889, 1901, 1907, 1913, 1931, 1933, 1949, 1951, 1973, 1979, 1987, 1993, 1997, 1999, 2003, 2011, 2017, 2027, 2029, 2039, 2053, 2063, 2069, 2081, 2083, 2087, 2089, 2099, 2111, 2113, 2129, 2131, 2137, 2141, 2143, 2153, 2161, 2179, 2203, 2207, 2213, 2221, 2237, 2239, 2243, 2251, 2267, 2269, 2273, 2281, 2287, 2293, 2297, 2309, 2311, 2333, 2339, 2341, 2347, 2351, 2357, 2371, 2377, 2381, 2383, 2389, 2393, 2399, 2411, 2417, 2423, 2437, 2441, 2447, 2459, 2467, 2473, 2477, 2503, 2521, 2531, 2539, 2543, 2549, 2551, 2557, 2579, 2591, 2593, 2609, 2617, 2621, 2633, 2647, 2657, 2659, 2663, 2671, 2677, 2683, 2687, 2689, 2693, 2699, 2707, 2711, 2713, 2719, 2729, 2731, 2741, 2749, 2753, 2767, 2777, 2789, 2791, 2797, 2801, 2803, 2819, 2833, 2837, 2843, 2851, 2857, 2861, 2879, 2887, 2897, 2903, 2909, 2917, 2927, 2939, 2953, 2957, 2963, 2969, 2971, 2999, 3001, 3011, 3019, 3023, 3037, 3041, 3049, 3061, 3067, 3079, 3083, 3089, 3109, 3119, 3121, 3137, 3163, 3167, 3169, 3181, 3187, 3191, 3203, 3209, 3217, 3221, 3229, 3251, 3253, 3257, 3259, 3271, 3299, 3301, 3307, 3313, 3319, 3323, 3329, 3331, 3343, 3347, 3359, 3361, 3371, 3373, 3389, 3391, 3407, 3413, 3433, 3449, 3457, 3461, 3463, 3467, 3469, 3491, 3499, 3511, 3517, 3527, 3529, 3533, 3539, 3541, 3547, 3557, 3559, 3571, 3581, 3583, 3593, 3607, 3613, 3617, 3623, 3631, 3637, 3643, 3659, 3671, 3673, 3677, 3691, 3697, 3701, 3709, 3719, 3727, 3733, 3739, 3761, 3767, 3769, 3779, 3793, 3797, 3803, 3821, 3823, 3833, 3847, 3851, 3853, 3863, 3877, 3881, 3889, 3907, 3911, 3917, 3919, 3923, 3929, 3931, 3943, 3947, 3967, 3989, 4001, 4003, 4007, 4013, 4019, 4021, 4027, 4049, 4051, 4057, 4073, 4079, 4091, 4093, 4099, 4111, 4127, 4129, 4133, 4139, 4153, 4157, 4159, 4177, 4201, 4211, 4217, 4219, 4229, 4231, 4241, 4243, 4253, 4259, 4261, 4271, 4273, 4283, 4289, 4297, 4327, 4337, 4339, 4349, 4357, 4363, 4373, 4391, 4397, 4409, 4421, 4423, 4441, 4447, 4451, 4457, 4463, 4481, 4483, 4493, 4507, 4513, 4517, 4519, 4523, 4547, 4549, 4561, 4567, 4583, 4591, 4597, 4603, 4621, 4637, 4639, 4643, 4649, 4651, 4657, 4663, 4673, 4679, 4691, 4703, 4721, 4723, 4729, 4733, 4751, 4759, 4783, 4787, 4789, 4793, 4799, 4801, 4813, 4817, 4831, 4861, 4871, 4877, 4889, 4903, 4909, 4919, 4931, 4933, 4937, 4943, 4951, 4957, 4967, 4969, 4973, 4987, 4993, 4999, 5003, 5009, 5011, 5021, 5023, 5039, 5051, 5059, 5077, 5081, 5087, 5099, 5101, 5107, 5113, 5119, 5147, 5153, 5167, 5171, 5179, 5189, 5197, 5209, 5227, 5231, 5233, 5237, 5261, 5273, 5279, 5281, 5297, 5303, 5309, 5323, 5333, 5347, 5351, 5381, 5387, 5393, 5399, 5407, 5413, 5417, 5419, 5431, 5437, 5441, 5443, 5449, 5471, 5477, 5479, 5483, 5501, 5503, 5507, 5519, 5521, 5527, 5531, 5557, 5563, 5569, 5573, 5581, 5591, 5623, 5639, 5641, 5647, 5651, 5653, 5657, 5659, 5669, 5683, 5689, 5693, 5701, 5711, 5717, 5737, 5741, 5743, 5749, 5779, 5783, 5791, 5801, 5807, 5813, 5821, 5827, 5839, 5843, 5849, 5851, 5857, 5861, 5867, 5869, 5879, 5881, 5897, 5903, 5923, 5927, 5939, 5953, 5981, 5987, 6007, 6011, 6029, 6037, 6043, 6047, 6053, 6067, 6073, 6079, 6089, 6091, 6101, 6113, 6121, 6131, 6133, 6143, 6151, 6163, 6173, 6197, 6199, 6203, 6211, 6217, 6221, 6229, 6247, 6257, 6263, 6269, 6271, 6277, 6287, 6299, 6301, 6311, 6317, 6323, 6329, 6337, 6343, 6353, 6359, 6361, 6367, 6373, 6379, 6389, 6397, 6421, 6427, 6449, 6451, 6469, 6473, 6481, 6491, 6521, 6529, 6547, 6551, 6553, 6563, 6569, 6571, 6577, 6581, 6599, 6607, 6619, 6637, 6653, 6659, 6661, 6673, 6679, 6689, 6691, 6701, 6703, 6709, 6719, 6733, 6737, 6761, 6763, 6779, 6781, 6791, 6793, 6803, 6823, 6827, 6829, 6833, 6841, 6857, 6863, 6869, 6871, 6883, 6899, 6907, 6911, 6917, 6947, 6949, 6959, 6961, 6967, 6971, 6977, 6983, 6991, 6997, 7001, 7013, 7019, 7027, 7039, 7043, 7057, 7069, 7079, 7103, 7109, 7121, 7127, 7129, 7151, 7159, 7177, 7187, 7193, 7207, 7211, 7213, 7219, 7229, 7237, 7243, 7247, 7253, 7283, 7297, 7307, 7309, 7321, 7331, 7333, 7349, 7351, 7369, 7393, 7411, 7417, 7433, 7451, 7457, 7459, 7477, 7481, 7487, 7489, 7499, 7507, 7517, 7523, 7529, 7537, 7541, 7547, 7549, 7559, 7561, 7573, 7577, 7583, 7589, 7591, 7603, 7607, 7621, 7639, 7643, 7649, 7669, 7673, 7681, 7687, 7691, 7699, 7703, 7717, 7723, 7727, 7741, 7753, 7757, 7759, 7789, 7793, 7817, 7823, 7829, 7841, 7853, 7867, 7873, 7877, 7879, 7883, 7901, 7907, 7919, 7927, 7933, 7937, 7949, 7951, 7963, 7993, 8009, 8011, 8017, 8039, 8053, 8059, 8069, 8081, 8087, 8089, 8093, 8101, 8111, 8117, 8123, 8147, 8161, 8167, 8171, 8179, 8191, 8209, 8219, 8221, 8231, 8233, 8237, 8243, 8263, 8269, 8273, 8287, 8291, 8293, 8297, 8311, 8317, 8329, 8353, 8363, 8369, 8377, 8387, 8389, 8419, 8423, 8429, 8431, 8443, 8447, 8461, 8467, 8501, 8513, 8521, 8527, 8537, 8539, 8543, 8563, 8573, 8581, 8597, 8599, 8609, 8623, 8627, 8629, 8641, 8647, 8663, 8669, 8677, 8681, 8689, 8693, 8699, 8707, 8713, 8719, 8731, 8737, 8741, 8747, 8753, 8761, 8779, 8783, 8803, 8807, 8819, 8821, 8831, 8837, 8839, 8849, 8861, 8863, 8867, 8887, 8893, 8923, 8929, 8933, 8941, 8951, 8963, 8969, 8971, 8999, 9001, 9007, 9011, 9013, 9029, 9041, 9043, 9049, 9059, 9067, 9091, 9103, 9109, 9127, 9133, 9137, 9151, 9157, 9161, 9173, 9181, 9187, 9199, 9203, 9209, 9221, 9227, 9239, 9241, 9257, 9277, 9281, 9283, 9293, 9311, 9319, 9323, 9337, 9341, 9343, 9349, 9371, 9377, 9391, 9397, 9403, 9413, 9419, 9421, 9431, 9433, 9437, 9439, 9461, 9463, 9467, 9473, 9479, 9491, 9497, 9511, 9521, 9533, 9539, 9547, 9551, 9587, 9601, 9613, 9619, 9623, 9629, 9631, 9643, 9649, 9661, 9677, 9679, 9689, 9697, 9719, 9721, 9733, 9739, 9743, 9749, 9767, 9769, 9781, 9787, 9791, 9803, 9811, 9817, 9829, 9833, 9839, 9851, 9857, 9859, 9871, 9883, 9887, 9901, 9907, 9923, 9929, 9931, 9941, 9949, 9967, 9973]

# Files

To use (i.e. read or write) a file in Python, we must first open the file.  The function `open(<filename>,<mode>)` returns a file object that will be used to refer to this file.  

* If you want to read the file, it must be open in the mode `'r'`. 

* If you want to write to the file, it must be open in the mode `'w'`.  If the file does not exist, a new file is created. If the file already exists and it is open in the mode `'w'`, the existing file is erased.

After finish reading/writing the file, we need to close the file using the function `<file_object>.close()`.

In [ ]:
f = open('test.txt','w')
# do somthing with the file
f.close()

The function `readline` reads the next unread line from the file and returns that string. The variable `f` stores the file object of the file `'test.txt'`.

In [ ]:
f = open('test.txt')
line1 = f.readline()
line2 = f.readline()
f.close()
print(line1, line2)

line 1
 line 2

The function `readlines` reads the file and returns the list of strings, each of which is a line in the file.

In [ ]:
f = open('test.txt','r')
allLines = f.readlines() 
f.close()
print(allLines)

['line 1', 'line 2', 'line 3']

In [ ]:
f = open('test.txt','r')
for line in f:
    print(line)
f.close()

line 1

line 2

line 3

['line 1', 'line 2', 'line 3']

The function `write` writes the given string to the file.

The following program opens the file `output.text` to to write strings in the list `lines` to the file.

In [ ]:
lines = ['This is a test\n','second line\n','\n','last']
f = open('output.txt','w')
for line in lines:
    f.write(line)
f.close()

The following program opens the file `test.text` to read into a list of strings, `allLines`, and writes them to the file `copy.txt`.

In [ ]:
fR = open('test.txt','r')
fW = open('copy.txt','w')
for line in fR:
    fW.write(line)
fR.close()
fW.close()

We can use `with open('test.txt','r') as fR:` follows by a block of code, and `fR` can be used as file object within that block of code.  When the program exits the block, the file is automatically closed.

The following program is the same as the one above.

In [ ]:
with open('test.txt','r') as fR: # fR = open('test.txt','r')
    allLines = fR.readlines()    # ....
                                 # fR.close()

with open('copy.txt','w') as fW:
    for line in allLines:
        fW.write(line)

The following program counts the number of words in the file `test.txt`.

In [ ]:
with open('test.txt','r') as f:
    allLines = f.readlines()

words = 0
for line in allLines:
    words = words+len(line.split())
print('There are',words,'words.')

There are 6 words.

The following program also counts the number of words in the file 'test.txt'.  In line 3, `[line.split() for line in fR]`, which is a list comprehension, reads each line from the file and splits a line into a list of words.

In [ ]:
with open('test.txt','r') as fR:
    lines = [line.split() for line in fR]    
words = 0
print(lines)
for item in lines: 
    words = words+len(item)
print('There are',words,'words.')

[['line', '1'], ['line', '2'], ['line', '3']]
There are 6 words.

A file object is also an iterable object, and it can be used in a list comprehension.

In [ ]:
with open('data.txt', 'r') as f:
    intList = [int(x) for x in f]
print(intList)

[1, 2, 3, 4, 5]

### Exercises

Write a program that reads a CSV file that each line conatins student ID and 4 test scores. Then, generate a class report, using list comprehension, which contains:

*   total score for each student
*   average score for all students
*   the ID of the student with highest total score
*   histogram, i.e. the number of students whose score are from `10*i to 10*(i+1)-1`, for i=0,1,2,...
*   for each score `s`, the number of students who get score `s`

In [ ]:
testSC, highest_score, highest_total_sco = [['6278015467', 6, 5, 7, 3], ['6278015343',8, 9, 10, 0], ['6278015344', 3, 7, 5, 9],
      ['6378015344', 7, 5, 9, 2]], 0, 0
for i in testSC:
    print(max(i))
    highest_total_score = sum(i) if sum(i) > highest_total_score else highest_total_score
print(highest_total_score)

Write a program that reads a CSV file that each line conatins student ID, course number and section number. For example,

`6274565423 , 2301551, 1`

Then, use list comprehension to generate a registration list in which each element is a list of students registered in each course, grouped by section, as shown below.  The following list contains 2 courses, 2301551 and 2301170. Each course has 2 sections.

`[['2301551',[['1',['6274565423',...]],['2',['6134567823',...]]]], ['2301170',[['1',[...]],['2',[...]]]]]`

In [ ]:
with open('new.csv', 'r') as fR:
    lines = [map(int, (line.split())) for line in fR]

    old_list = []
    course_number_list, section_number_list = [], []  # the sorted list

    for i in lines:
        i = list(i)
        old_list.append(i)
        course_number_list.append(i[1])
        section_number_list.append(i[2])
    old_list.sort(key=lambda item: item[1], reverse=True)
    print(old_list)
    
    r = list(set(course_number_list))   # return list
    r.sort(reverse=True)
    # print(r)
    l1 = []
    for j in r:
        l1.append(str(j))
        for i in old_list:
            if i[1] == j:
                l1.append([[str(i[-1]), str(i[0])]])
        # l2.append(l1)
    print(l1)

# Tuples

A tuple is similar to a list, i.e. it is a collection of data of any types in which each element can be refered to by the index or position.

In [ ]:
student = ('Siri', 6274567823)  # a tuple
for i in student:
    print(i)
print(student[0])
print(student[1])

Siri
6274567823
Siri
6274567823

However, a tuple is immutable, i.e. we cannot change an element in a tuple.

In [ ]:
student = ('Siri', 6274567823)
student[0] = 'Sara'  # error here

Notice that there is no error in the program below beacuse  `student = ('Sara', 6274567823)` in line 2 **does not change the tuple**, but assigns a new tuple to the variable `student`.

In [ ]:
student = ('Siri', 6274567823)
student = ('Sara', 6274567823)


`tuple` is the function that converts an iterable object, such as lists and dictionaries, into a tuple.

In [ ]:
sid_cid = [6212345623, 2301551]
t_sid_cid = tuple(sid_cid)
print(t_sid_cid, type(t_sid_cid))
print(tuple(range(3)))

(6212345623, 2301551) <class 'tuple'>
(0, 1, 2)

### Exercises

Write a program to create a list of tuple (x, y), where x and y are integers, 0<x<10, -10<y<10.

In [14]:
x = int(input("x:"))
y = int(input("y:"))
list = [x,y]
tup = tuple(list)
if 0<x<10 and -10<y<10:
  print(tup)

x:5
y:8
(5, 8)

The Fibonacci number is the following sequence of numbers:

> 0,1,1,2,3,5,8,13,...

This sequence can be defined as follows:

> fib(0) = 0, fib(1) = 1, fib(n) = fib(n-1)+fib(n-2) for n>1.


Write a program that creates a list of tuple (x, fib(x)) for x = 0,1,2,...,9.

The result is :

`[(0, 0), (1, 1), (2, 1), (3, 2), (4, 3), (5, 5), (6, 8), (7, 13), (8, 21), (9, 34)] `

In [7]:
#for loop
n1, n2 = 0, 1
count = 0
r = []
for count in range(10):
    nth = n1 + n2
    list = [count, n1]
    c = tuple(list)
    r.append(c)
    # update values
    n1 = n2
    n2 = nth
print(r)

[(0, 0), (1, 1), (2, 1), (3, 2), (4, 3), (5, 5), (6, 8), (7, 13), (8, 21), (9, 34)]

Write a program that creates two lists from a list that contains tuples with 2 elements. 

For example, given a list 

> `[(1,'d'), (2,'a'), (3,'b'), (4,'b'), (5,'a'), (6,'c'), (7,'a'), (8,'a'), (9,'d'), (10,'c')]` ,

the program creates :
> `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]` and

> `['d', 'a', 'b', 'b', 'a', 'c', 'a', 'a', 'd', 'c']`

In [12]:
def split_merge(merged_list):
    list0 = [i[0] for i in merged_list]
    list1 = [i[1] for i in merged_list]
    return list0, list1      
# Driver code
print(split_merge([(1,'d'), (2,'a'), (3,'b'), (4,'b'), (5,'a'), (6,'c'), (7,'a'), (8,'a'), (9,'d'), (10,'c')]))

([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], ['d', 'a', 'b', 'b', 'a', 'c', 'a', 'a', 'd', 'c'])